https://wikidocs.net/24603

      바나나  사과  저는  좋아요
문서1   0      1     1     1
문서2   1      0     1     1
문서3   2      0     2     2

In [ ]:
from numpy import dot
from numpy.linalg import norm
import numpy as np
def cos_sim(A, B):
       return dot(A, B)/(norm(A)*norm(B))

In [ ]:
doc1 = np.array([0, 1, 1, 1])
doc2 = np.array([1, 0, 1, 1])
doc3 = np.array([2, 0, 2, 2])

In [ ]:
cos_sim(doc1, doc2)

0.6666666666666667

In [ ]:
cos_sim(doc1, doc3)

0.6666666666666667

Client ID: ablxInnW98kI2S8cw9cx

Client Secret: ablxInnW98kI2S8cw9cx

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]

In [ ]:
# tfidf: term frequency-inverse document frequency
tfidf = TfidfVectorizer()
print(tfidf.fit_transform(corpus).toarray())

[[0.         0.46735098 0.         0.46735098 0.         0.46735098
  0.         0.35543247 0.46735098]
 [0.         0.         0.79596054 0.         0.         0.
  0.         0.60534851 0.        ]
 [0.57735027 0.         0.         0.         0.57735027 0.
  0.57735027 0.         0.        ]]

In [ ]:
print(tfidf.vocabulary_)

{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

## Recommanded with cos similarity

### dataset from https://www.kaggle.com/rounakbanik/the-movies-dataset/version/7?select=movies_metadata.csv

In [ ]:
import pandas as pd
df_data = pd.read_csv('./movies_metadata.csv')
df_data.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [ ]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
data = df_data.head(10000)

In [ ]:
data = data.dropna()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 9 to 9888
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  158 non-null    object
 1   belongs_to_collection  158 non-null    object
 2   budget                 158 non-null    object
 3   genres                 158 non-null    object
 4   homepage               158 non-null    object
 5   id                     158 non-null    object
 6   imdb_id                158 non-null    object
 7   original_language      158 non-null    object
 8   original_title         158 non-null    object
 9   overview               158 non-null    object
 10  popularity             158 non-null    object
 11  poster_path            158 non-null    object
 12  production_companies   158 non-null    object
 13  production_countries   158 non-null    object
 14  release_date           158 non-null    object
 15  revenue                158 non-null    float64
 16  runtime                158 non-null    float64
 17  spoken_languages       158 non-null    object
 18  status                 158 non-null    object
 19  tagline                158 non-null    object
 20  title                  158 non-null    object
 21  video                  158 non-null    object
 22  vote_average           158 non-null    float64
 23  vote_count             158 non-null    float64
dtypes: float64(4), object(20)
memory usage: 30.9+ KB

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(data['overview'])
tfidf_matrix.shape

(158, 2696)

In [ ]:
len(tfidf.vocabulary_)

2696

In [ ]:
print(tfidf_matrix[4].toarray())

[[0. 0. 0. ... 0. 0. 0.]]

In [ ]:
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
cosin_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
type(cosin_sim), cosin_sim.shape

(numpy.ndarray, (158, 158))

In [ ]:
cosin_sim[3]

array([0.03403894, 0.07378662, 0.0606532 , 1.        , 0.05231864,
       0.05361942, 0.04305033, 0.01963748, 0.03302958, 0.04013632,
       0.05650286, 0.04380791, 0.045455  , 0.0360105 , 0.07208718,
       0.06037126, 0.02463999, 0.06438099, 0.0261279 , 0.03232211,
       0.03084823, 0.04654037, 0.05100054, 0.02586476, 0.01778496,
       0.05746612, 0.10967293, 0.0282976 , 0.04640804, 0.02406314,
       0.0671682 , 0.03956612, 0.04875229, 0.04437252, 0.02699316,
       0.02809418, 0.04223523, 0.02060186, 0.05070264, 0.03129839,
       0.02382746, 0.03403162, 0.03612028, 0.0502291 , 0.04674237,
       0.07158003, 0.02806686, 0.03066928, 0.07962729, 0.04691775,
       0.00644533, 0.0481169 , 0.03853567, 0.03240614, 0.01586077,
       0.02972285, 0.06138844, 0.02404479, 0.02269754, 0.03191292,
       0.05483523, 0.03238852, 0.10369226, 0.01014625, 0.02365042,
       0.07221074, 0.0937075 , 0.06614349, 0.06212896, 0.03717476,
       0.03104298, 0.04467526, 0.04421634, 0.0348611 , 0.0419346 ,
       0.04463273, 0.08416776, 0.02689952, 0.0765093 , 0.03427164,
       0.05688173, 0.03798184, 0.06100084, 0.06977991, 0.043257  ,
       0.06593067, 0.07318941, 0.03004147, 0.07785691, 0.03362121,
       0.04905523, 0.05165596, 0.0530247 , 0.03135838, 0.03568706,
       0.01777612, 0.02582292, 0.06439404, 0.09755842, 0.04048298,
       0.02410179, 0.11799301, 0.02372764, 0.03365979, 0.0516431 ,
       0.03419398, 0.05102216, 0.03686381, 0.05020573, 0.        ,
       0.04703451, 0.06167647, 0.09303921, 0.05049593, 0.04349756,
       0.06190237, 0.01970586, 0.0232032 , 0.04319589, 0.03768416,
       0.01250471, 0.04833805, 0.03121207, 0.01953039, 0.03584489,
       0.04046393, 0.04644173, 0.07827514, 0.06894843, 0.0402017 ,
       0.04454245, 0.04634837, 0.07287341, 0.05707715, 0.03935795,
       0.02696071, 0.03522189, 0.03972236, 0.04045747, 0.03815843,
       0.04161958, 0.05359455, 0.0795967 , 0.04720775, 0.06361119,
       0.03409284, 0.09568197, 0.03113103, 0.07496798, 0.06092952,
       0.02241252, 0.03758525, 0.02565086, 0.06497691, 0.03866494,
       0.09101481, 0.05321531, 0.05776599])

In [ ]:
indeces = pd.Series(data.index, index=data['title']).drop_duplicates()
indeces.head(5)

title
GoldenEye                                    9
Friday                                      68
From Dusk Till Dawn                         69
Blue in the Face                           153
Mighty Morphin Power Rangers: The Movie    178
dtype: int64

In [ ]:
indeces['From Dusk Till Dawn']

69

In [ ]:
cosin_list = list(enumerate(cosin_sim[69]))    # movie index
cosin_list

[(0, 0.0727441763199051),
 (1, 0.02892051203972273),
 (2, 0.02996503077446317),
 (3, 0.037174758464543475),
 (4, 0.02346836061741026),
 (5, 0.021246298385504493),
 (6, 0.03633447712794377),
 (7, 0.02409510202753557),
 (8, 0.06229400104850713),
 (9, 0.03702937763287602),
 (10, 0.02266926258350839),
 (11, 0.03550986180781372),
 (12, 0.04067791017893172),
 (13, 0.02258712427618866),
 (14, 0.055681642758578426),
 (15, 0.03285809837552814),
 (16, 0.008864996791036644),
 (17, 0.051654345203359445),
 (18, 0.036543295302026296),
 (19, 0.05436611020060969),
 (20, 0.033444124944652376),
 (21, 0.034369941078449484),
 (22, 0.015738855191422714),
 (23, 0.04867096565015526),
 (24, 0.0165640075249569),
 (25, 0.045349328897193536),
 (26, 0.046479507343680074),
 (27, 0.02335116601519331),
 (28, 0.03414460067128391),
 (29, 0.01880098894929399),
 (30, 0.03749684968923591),
 (31, 0.03495873912734175),
 (32, 0.028904142549040543),
 (33, 0.07653702067400137),
 (34, 0.0420053856954951),
 (35, 0.01887417858509342),
 (36, 0.03899075747625005),
 (37, 0.018905351270920575),
 (38, 0.0581371686844761),
 (39, 0.06256835081107805),
 (40, 0.06418018781492944),
 (41, 0.02818557476486423),
 (42, 0.012636801969483472),
 (43, 0.03411513362071413),
 (44, 0.022011528214427596),
 (45, 0.04084155794601536),
 (46, 0.023258756302241734),
 (47, 0.019434400902220792),
 (48, 0.011090334694260625),
 (49, 0.03129096914175193),
 (50, 0.04968739277034367),
 (51, 0.03873771943547791),
 (52, 0.034845850090862746),
 (53, 0.03605364586541966),
 (54, 0.0548995128641066),
 (55, 0.02896844624837778),
 (56, 0.12396013932603699),
 (57, 0.017560212468627247),
 (58, 0.022379533800444853),
 (59, 0.016716442893773248),
 (60, 0.028666856516304462),
 (61, 0.012784701549151406),
 (62, 0.1021239662265584),
 (63, 0.03605753708829086),
 (64, 0.01856145411679454),
 (65, 0.007536792238047464),
 (66, 0.03627565301897282),
 (67, 0.14772757089625846),
 (68, 0.07863939654572888),
 (69, 1.0000000000000002),
 (70, 0.06490919638216405),
 (71, 0.11846245157106666),
 (72, 0.06759477729852406),
 (73, 0.007901538716347259),
 (74, 0.11163546861489206),
 (75, 0.01962351198325638),
 (76, 0.01181452076934861),
 (77, 0.018959047441475984),
 (78, 0.0777240551998175),
 (79, 0.051627310335658996),
 (80, 0.06704982880658902),
 (81, 0.028672356399621114),
 (82, 0.07708831666547515),
 (83, 0.15998660887787308),
 (84, 0.06751206299021836),
 (85, 0.10414294242114651),
 (86, 0.04845924109409865),
 (87, 0.0717245949157262),
 (88, 0.10207971087196481),
 (89, 0.03816176849889954),
 (90, 0.09094390029051094),
 (91, 0.06753700009620281),
 (92, 0.049070838287092515),
 (93, 0.034855063923446575),
 (94, 0.024062479484665455),
 (95, 0.030183934970486534),
 (96, 0.06296895414834959),
 (97, 0.023769001423475638),
 (98, 0.030156580008166636),
 (99, 0.03376180402655872),
 (100, 0.061113241865163405),
 (101, 0.037795124213644886),
 (102, 0.013543880450032412),
 (103, 0.05214196347976607),
 (104, 0.017136047440244224),
 (105, 0.0545485044703303),
 (106, 0.03825794763419014),
 (107, 0.04060438050660771),
 (108, 0.03959379257603307),
 (109, 0.007428128800515271),
 (110, 0.04368412791359948),
 (111, 0.03345980038521615),
 (112, 0.07328169202429911),
 (113, 0.0689153492778048),
 (114, 0.04811438035541243),
 (115, 0.04703552901593579),
 (116, 0.014362995369105555),
 (117, 0.014307027867566774),
 (118, 0.06985103392068573),
 (119, 0.029171828881181305),
 (120, 0.006024975732732928),
 (121, 0.014747555638018852),
 (122, 0.030870304828824347),
 (123, 0.030274526518226395),
 (124, 0.053070918929712795),
 (125, 0.011049442309096387),
 (126, 0.05400170634573909),
 (127, 0.019459697602779054),
 (128, 0.016100559847618837),
 (129, 0.03879250264403164),
 (130, 0.028407275208326067),
 (131, 0.023713241492282357),
 (132, 0.04701350455478659),
 (133, 0.1189225068324697),
 (134, 0.055885332432776914),
 (135, 0.020799280936346448),
 (136, 0.04803360538836958),
 (137, 0.13396597843861469),
 (138, 0.12763954217361856),
 (139, 0.08967898602019628),
 (140, 0.07594087445235678),
 (141, 0.02408693980023397),
 (142, 0.08666987642376395),
 (143, 0.06478599766441434),
 (144, 0.028746339265731016),
 (145, 0.03514313566038776),
 (146, 0.0534815153722194),
 (147, 0.021863433525886794),
 (148, 0.05246406756710896),
 (149, 0.0948290631705181),
 (150, 0.006121010082791553),
 (151, 0.026997757361824554),
 (152, 0.03204387494829313),
 (153, 0.019101143576897628),
 (154, 0.041909783109255964),
 (155, 0.03110393121739402),
 (156, 0.042092553084743786),
 (157, 0.044729912840070066)]

In [ ]:
cosin_index = sorted(cosin_list, key=lambda x:x[1], reverse=True)
cosin_index[1:11]   # top 10

[(83, 0.15998660887787308),
 (67, 0.14772757089625846),
 (137, 0.13396597843861469),
 (138, 0.12763954217361856),
 (56, 0.12396013932603699),
 (133, 0.1189225068324697),
 (71, 0.11846245157106666),
 (74, 0.11163546861489206),
 (85, 0.10414294242114651),
 (62, 0.1021239662265584)]

In [ ]:
# for i in cosin_index:
#   i[0]

movie_indexes = [i[0] for i in cosin_index[1:11]]

In [ ]:
data['title'].iloc[movie_indexes]

3513                      The Spy Who Loved Me
2832                     From Russia with Love
7329                       You Only Live Twice
7330                                 Octopussy
2263                          A View to a Kill
7192    Agent Cody Banks 2: Destination London
2875                          Live and Let Die
2965                   The World Is Not Enough
3517               The Man with the Golden Gun
2572                                    Tarzan
Name: title, dtype: object